.footer{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: var(--cream);
}
.footer-content{
    font-family: "IBM Plex Sans", serif;
    margin: 25px;
  }
  .redwall{
    position: absolute;
    left:0;
    right: 0;
    height: 100vh;
    background-color: var(--red);
  }
.profile{
    margin: 25px;
    height: 70vh;
    width:45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
}
.profile .image1{
    transition: all 0.6s;
    height: 60vh;
    width: auto;
    filter:saturate(1) brightness(0.95) contrast(1.5);
    }

    .contact{
        font-family: "wulkan-display", serif;
        font-size: 8vw;
    }