.footer{
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--red);
  margin-top:10vh;
}
.footer-content{
  width: 100%;
  margin: 15px;
  color: var(--orange);
}
.footer-content h6{
  margin-bottom:10px;
  width: 100%;
}
.footer p{
  color: var(--orange);
}

.profile{
  margin-top:10vh;
  display: grid;
  place-items: center;
  height: auto;
  width:100%;
}

.profile .image1{
  margin:0 auto;
  transition: all 0.6s;
  border: 10px solid var(--orange);
  height: auto;
  width: 50%;
  }
.contact{
    margin-top:2.5vh;
    flex-wrap: wrap;
    font-size: 1.5rem;
}
.footer-caption{
  padding: 25px;
  color: var(--orange);
  font-size: 20vw;
}

@media screen and (min-width:568px){
.footer-content{
    width: 40%;
    margin: 25px;
}
.footer-content h6{
  width: auto;
  margin-right: 10px;
  }
.profile{
    margin: 25px;
    height: auto;
    width:40%;
}
.contact{
    margin-top:5vh;
    font-size: 5vw;
}
}

