.cursor{
    background-color: white;
    position: absolute;
    border-radius: 50%;
    mix-blend-mode: difference;
    width: 25vw;
    height: 25vw;
    z-index: 100;
    transform: translate(-50%,-50%);
    /* cursor: none; */
}