.section{
    min-height: 100vh;
    font-family: "IBM Plex Sans", serif;
}
.heading {
    text-align: right;
    margin-top: 8px;
    font-weight: 500;
    color: var(--black);
}
.subheading{
    text-align: right;
    color: var(--black);
    margin-top: 10px;
    font-weight: 300;
}
.crm{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.crm aside{
    width: 100%;
    height: 100%;
    padding: 25px;
}
.crm img{
    width: 45%;
    margin:2.5%;
    height: auto;
    transition: all 0.4s;
}
.crm img:hover{
    transform: scale(1.5);
}
.crm video{
    width:100%;
    height: auto;
}
.crm main small{
    font-weight: 200;
    background-color: var(--cream);
    color: var(--black);
    transition: all 0.4s;
    padding: 5px;
}
.crm main small:hover{
    background-color: var(--orange);
    color:var(--red) ;
}
.crm article{
    width:55%;
}
.website{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 5vh;
    font-family: "IBM Plex Sans", serif;
}
.website article h2{
    font-weight: 200;
}
.website article h6{
    font-weight: 100;
}
.website article p{
    font-weight: 100;
}
.crm aside h2{
    font-weight: 200;
}
.crm aside h6{
    font-weight: 100;
}
.crm aside p{
    font-weight: 100;
}
.website aside{
    will-change: transform;
    display: flex;
    width: max-content;
}
.website img{
    width: auto;
    height: 50vh;
    margin: 25px;
}
.website video{
    width: auto;
    height: 50vh;
    margin: 25px;
}
.website article{
display: flex;
width: 100%;
justify-content: space-between;
padding: 25px 25px 25px 25px;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}
.box1 small{
    font-weight: 200;
    background-color: var(--cream);
    color: var(--black);
    transition: all 0.4s;
    padding: 5px;
}
.box1 small:hover{
    background-color: var(--orange);
    color:var(--red) ;
}
.box2{
    width: 40%;
}
.box3{
    width: 30%;
}
.livesite{
    display: inline-block;
    position: relative;
    border-bottom:0px solid var(--black);
    margin-top:30px;
}
.livesite::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width: 0%;
    height: 0.5px;
    transition: all 0.4s;
    background-color: var(--black);
}
.livesite:hover::before{
width: 100%;
}
@media screen and (min-width:1400px) {
    .section{
        min-height: 100vh;
        padding:20px
    }
    .crm aside{
        width: 40%;
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 25px;
    }
    .crm aside p{
        margin-top: 15px;
    }
    .box1, .box2, .box3{
        padding-top: 5vh;
    }
}
