.explosion{
  position: relative;
  height: 100vh;
  width: 100%;
  /* font-family: "Permanent Marker", cursive; */
}

.cover{
  height: 100vh;
  width: 100%;
  overflow:hidden;
  transition: all 0.1s;
}
.content .hello{
  font-size: 108px;
  font-weight: 100;
}
.content .welcome{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .profile{
  position: relative;
  width: 40%;
}
 .profile .image1{
  position: absolute;
  top:-10%;
  right:-25%;
  width: 150vw;
  transition: all 0.6s;
  height: auto;
  }

  .cover:hover .profile .image1{
    right:-20%;
  }
.caption{
  font-size: 42px;
}
.name{
    background: url('/images/name_bg.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    font-size: 15vw;
    font-weight: 700;
    line-height: 15vw;
}


.thumbnail-container{
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
}
.thumbnails{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.thumbnail{
  text-wrap: nowrap;
  color: transparent;
  -webkit-text-stroke: 4px black;
  text-transform: uppercase;
  font-size: 20vw;
  line-height: 20vw;
  margin-left: 25px;
  margin-right:25px;
  overflow: hidden;

}
.thumbnails article{
  display: flex;
  align-items: center;
  color: transparent;
  white-space: nowrap;
  animation: horizontal_scroll var(--time) linear infinite;
  animation-delay: calc(var(--time)*-1);
}
.thumbnails article:nth-child(2) {
  animation: horizontal_scroll2 var(--time) linear infinite ;
  animation-delay: calc(var(--time)/-2);
}
.rectangle1{
  width: 100%;
  height: 100%;
  z-index: 400;
  overflow: hidden;
}
.rectangle1-content{
  width:100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.stack{
  padding: 5%;
}
.stack h4{
  display: inline-block;
  color: black;
  font-size: 32px;
}
.stack h2{
  color: black;
  background: url('/images/stack_bg.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;  
   text-wrap: wrap;
  font-weight: 700;
  font-size: 10vw;
  line-height:10vw;
}
.stack h2:hover .techs-img{
  transform: translateX(50%)
}
 .techs{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.techs-img{
  width: auto;
  height: 7.5rem;
  transition: all 0.3s;
}

.experience{
  position: relative;
  padding: 10vh;
  width: 100%;
}
.experience .heading{
  position: absolute;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 5vh;
}
.experience .heading h2{
  line-height: normal;
  transform: rotate(90deg);
  font-size: 18vh;
  font-weight: 700;
  color: black;
}
.experiences{
  display: flex;
  width: 100%;
}
.experiences article{
  width: 100%;
  cursor: pointer;
}
.experiences article h2{
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px black;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  text-wrap: nowrap;
  transition: all 0.3s;
}
.experiences article h3{
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}
.experience1 , .experience2 , .experience3, .experience4{
  position: relative;
  height: 25vh;
}
.experience1 video , .experience2 video, .experience3 video, .experience4 video{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:0;
  display: none;
}
.experience1:hover video,
.experience2:hover video,
.experience3:hover video,
.experience4:hover video
 {
  height: 40vh;
  width: auto;
  display: block;
} 
.experience1:hover h2,
.experience2:hover h2,
.experience3:hover h2,
.experience4:hover h2{
  color: black;
}

.coverup{
background-color: white;
top:50%;
transform: translateY(-50%);
height: 0;
position: absolute;
left:0;
right:0;
transition: all 0.5s;
}
.experience1:hover .coverup,
.experience2:hover .coverup,
.experience3:hover .coverup,
.experience4:hover .coverup{
  background-color: white;
  height: 25vh;
}
.experiences aside video{
  width: 100%;
  height: auto;
  z-index: 200;
}
.education{
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  padding: 5%;
}
.education .heading{
  position: absolute;
  z-index: -1;
  font-weight: 700;
  opacity: 0.3;
  right:-15%;
  font-size: 20vw;
}
.educations .education1,
.educations .education2{
position: relative;
min-height: 30vh;
cursor: pointer;
} 
.educations h2{
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
}
.educations h3{
  font-size: 2vw;
  font-weight: 500;
  text-transform: uppercase;
}
.educations img{
position: absolute;
top:50%;
transform: translateY(-50%);
right:0;
height: 30vh;
display:none;
width: auto;
z-index: 300;
transition: all 0.5s;
}
.education1 h2,
.education2 h2{
  color: transparent;
  -webkit-text-stroke: 1px black;
  transition: all 0.5s;
}
.education1:hover h2,
.education2:hover h2{
  color: black;
}
.education1:hover img{
  display:block;
}
.education2:hover img{
  display:block;
}
@keyframes horizontal_scroll {
  0% {
      transform: translateX(100%);
  }

  100% { 
      transform: translateX(-100%);
  }
}
@keyframes horizontal_scroll2 {
  0% {
    transform: translateX(0);
}

100% {
    transform:translateX(-200%);
}
}
