.heading{
    background-color: var(--white);
    z-index: 500;
}
.about{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.about article .about_char{
    font-family: "IBM Plex Sans", serif;
    color: var(--black);
    flex-wrap: wrap;
    text-wrap: wrap;
}
.about article h1{
    color: var(--black);
}
.about aside{
    background-color: var(--white);
}
.images {
    position: relative;
    perspective: 1000px;
}
.images .image_cover_top{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    height: 10vh;
    width:100%;
    background-color: var(--white);
}
.images .image_cover_down{
    position: absolute;
    bottom: -15%;
    left:0;
    right:0;
    height: 10vh;
    width:100%;
    /* animation: RevealImages 1s 0.5s linear forwards; */
    background-color: var(--white);
}
.about article{
    width: 100%;
}
.images .image1{
    width: 90%;
    margin: 0 auto;
}
.about article h4{
    padding: 10px;
    color: var(--black);
}   
.education{
    display: grid;
    place-items: center;
    height: 100%;
    margin-bottom: 10vh;
} 
.education-page{
    position: relative;

}
.education .education_cover_top{
    position: absolute;
    top:0;
    height: 10vh;
    width:100%;
    background-color: var(--white);
}

.education .education_cover_down{
    position: absolute;
    bottom:0;
    height: 10vh;
    width:100%;
    background-color: var(--white);
}
.education .education-page{
    height: 100vh;
    width: 100%;
}
.education .education-image{
    height: 100%;
    width: 100%;
    z-index: -1;
}
.education .education_content{
 position: absolute;
 top: 50%;
 left:50%;
 transform: translate(-50%,-50%);
 backdrop-filter: blur(5px);
 color: var(--white);
 width: 60%;
 height: 60%;
}
.education article{
    padding: 5%;
}
.education h4{
    font-weight: 300;
}
.education h3{
    font-weight: 400;
}
@media screen and (min-width:568px) {

    .about aside {
        width: 40%;
    }
    .images .image_cover{
        width: 40%;
    }
    .about article{
        width: 60%;
        overflow-y: auto;
    }  
}
@media screen and (min-width:1400px) {
    .heading{
        width: 100%;
        font-weight: 100;
        font-size: 15vh;
    }
    .about{
        padding: 10vh;
    }
    .about aside{
        width: 35%;
    }
    .images .image1{
        width:30vw;
        height: auto;
    }
    .about article{
        width: 65%;
        overflow-y: auto;
    }
    .about article h4{
        padding: 5vh;
        font-weight: 100;
    }   
    .about_char{
        margin-bottom: 2vh;
    }
    .images .image_cover{
        width:100%;
    }

}
@keyframes RevealImages {
    from{
        height: 40;
    }
    to{
        height: 0;
    }
}
@keyframes liftup {
    from{
        transform: translateY(-100);
    }
    to{
        transform: translateY(0);
    }
}