.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.about article .about_char{
    font-family: "IBM Plex Sans", serif;
    color: var(--black);
    flex-wrap: wrap;
    text-wrap: wrap;
}
.about article h1{
    color: var(--black);
}
.about aside{
    background-color: var(--white);
}

.images .image_cover{
    width:100%;
    /* animation: RevealImages 1s 0.5s linear forwards; */
    background-color: var(--white);
}
.about article{
    width: 100%;
}
.images .image1{
    width: 90%;
    margin: 0 auto;
}
.about article h4{
    font-size: 1.25rem;
    padding: 10px;
    color: var(--black);
}   
.education{
    display: grid;
    text-align: left;
    place-items: center;
    height: 100vh;
}
.education article{
    width: 100%;
}
.education h4{
    font-weight: 100;
}
.education h3{
    font-weight: 400;
}
@media screen and (min-width:568px) {

    .about aside {
        width: 40%;
    }
    .images .image_cover{
        width: 40%;
    }
    .about article{
        width: 60%;
        overflow-y: auto;
    }
    .about article h4{
        font-size: 3rem;
    }   
}
@media screen and (min-width:1400px) {
    .heading{
        margin-top:5vh;
        font-weight: 100;
        font-size: 15vh;
    }
    .about aside{
        width: 35%;
    }
    .images .image1{
        width:30vw;
        height: auto;
    }
    .about article{
        width: 65%;
        overflow-y: auto;
    }
    .about article h4{
        padding: 5vh;
        font-size: 1rem;
        font-weight: 100;
    }   
    .about_char{
        margin-bottom: 2vh;
    }
    .images .image_cover{
        width:35%;
    }
}
@keyframes RevealImages {
    from{
        height: 40;
    }
    to{
        height: 0;
    }
}
@keyframes liftup {
    from{
        transform: translateY(-100);
    }
    to{
        transform: translateY(0);
    }
}