.heading{
    position: relative;
    z-index: 900;
}
.about{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px;
}
.about article .about_char{
    font-family: "IBM Plex Sans", serif;
    color: var(--black);
    flex-wrap: wrap;
    text-wrap: wrap;
}
.about h1{
    color: var(--red);
}
.about p{
    /* line-height: 150%; */
    /* letter-spacing: 1px; */
    /* word-spacing: 5px; */
    color: var(--brown);
}
.images {
    position: relative;
    perspective: 1000px;
}
.images .image_cover_top{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    height: 10vh;
    width:100%;
    background-color: var(--cream);
}
.images .image_cover_down{
    position: absolute;
    bottom: -15%;   
    left:0;
    right:0;
    height: 10vh;
    width:100%;
    background-color: var(--cream);
}
.about article{
    width: 100%;
}
.images .image1{
    width: 90%;
    margin: 0 auto;
}
.about article h4{
    padding: 10px;
    color: var(--black);
}   
.education{
    display: grid;
    place-items: center;
    height: 100%;
    padding: 25px;
} 
.education-page{
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}

.education article{
    padding: 5%;
}
.education h4{
    font-weight: 300;
}
.education h3{
    font-weight: 400;
}
.about h1{
    margin-top: 10vh;
}
.about {
    margin-bottom:10vh
}
.education h2{
    color: var(--red);
}
.education .education_content{
    color: var(--black);
}
@media screen and (min-width:568px) {

    .about aside {
        width: 60%;
    }
    .about article{
        width: 40%;
        overflow-y: auto;
    }  
}
@media screen and (min-width:992px) {

    .about aside {
        width: 40%;
    }
    .about article{
        width: 60%;
        overflow-y: auto;
    }  

}

@media screen and (min-width:1400px) {
    .about{
        justify-content: space-between;
        padding: 10vh;
    }
    .about aside{
        width: 35%;
    }
    .images .image1{
        width:30vw;
        height: auto;
    }
    .about article{
        width: 50%;
        overflow-y: auto;
    }
    .about article h4{
        padding: 5vh;
        font-weight: 100;
    }   
    .about_char{
        margin-bottom: 2vh;
    }
    .images .image_cover{
        width:100%;
    }


}
@keyframes RevealImages {
    from{
        height: 40;
    }
    to{
        height: 0;
    }
}
@keyframes liftup {
    from{
        transform: translateY(-100);
    }
    to{
        transform: translateY(0);
    }
}