.navbar{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color:transparent;
    z-index: 1000;
    padding:10px 20px 10px 20px;

}
.navbar img{
    height: 10vh;
    width: 10vh;
    padding: 10px;
    border-radius: 9999px;
    animation: rotate 10s linear infinite;
}

.navbar h6{
    color: var(--black);
    font-family: "IBM Plex Sans", serif;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}