.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color:transparent;
    z-index: 1000;
    padding:10px 20px 10px 20px;
    color: var(--red);
    backdrop-filter: blur(5px);
    /* mix-blend-mode: darken; */
}

.name{
    font-size: 2rem;
    font-family: 'Italianno';
    font-weight: 400;
    word-spacing: 5px;
}

.navbar img{
    height: 5vh;
    width: 5vh;
    padding: 5px;
    border-radius: 9999px;
    animation: rotate 10s linear infinite;
}
.options{
    display: flex;
    cursor: pointer;
}
.options a:hover{
  color: var(--orange);
}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }   
    to{
        transform: rotate(360deg);
    }
}
/* @media screen and (min-width:1440px) {
    .name{
        width: 55%;
    }
    .options{
        width: 45%;
    }
} */